* {
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  color: #e5d8d8;
  margin: 0;
  padding: 0;
  background-image: url(imgHTML/metadata-1.jpg);
  background-attachment: fixed;
  background-size: cover; 
}

/* Header Styles */
header {
  background-color: #0d0d5d;
  color: #ffffff;
  padding: 1px 0;
  text-align: center;
}

/* Content Styles */
section {
  overflow: auto;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.image-result {
  width: 300px;
}

img {
  width: 100%;
}

h1 {
  color: rgba(125, 121, 181, 0.89);
  font-size: 40px;
}

h2 {
  color: rgb(35, 84, 189);
}

/* Outer Wrapper Styles */
#outerWrapper {
  background-image: url(imgHTML/metadata-1.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding: 20px; 
}

/* Main Wrapper Styles */
#wrapper {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  background-color: #0e2c60;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
input[type="text"],
input[type="search"],
select,
button {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.searchbar {
  height: 140px;
}

.search-input {
  position: relative;
  top: 20px;
  left: 5%;
  padding: 5px;
  text-align: left;
  width: 40%;
}

.search-button {
  position: relative;
  top: 20px;
  left: 5%;
  margin: 0px;
  padding: 4px;
  font-size: 13px;
}

.checkboxes {
  position: relative;
  top: 40px;
  left: 5%;
}

[type="checkbox"] {
  vertical-align: middle;
  width: auto;
  margin: 5px;
}

.dropbar {
  position: relative;
  top: 40px;
  left: 20px;
}


/* Search Results Styles */
.searchResults {
  background-color: #0d0d5d;
  padding: 0 15px;
  
}

 .map, .map2{
  height: 1000px;
  width: 100%;
  overflow: hidden;
} 

.geo {
  font-family: 'Times New Roman', Times, serif;
  color: #e5d8d8;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover; 
  background-color: #0d0d5d;
  background-image: none;
}

#map {
  height: 400px; 
  width: 100%; 
}

.button-download {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.button-download {
  background-color: #303133;
  color: #ffffff;
}

.search-button {
  background-color: #0d0e0e;
  color: #ffffff;
}

.search-button:hover,
.button-download:hover {
  background-color: #303133;
}
