body {
  font-family: Verdana;
}

img {
  width: 200px;
  float: right;
}

section {
  overflow: auto;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

h2 {
  color: rgb(157, 35, 35);
}

h1 {
  color: rgb(9, 53, 74);
}

.h2-yellow {
  color: #cbbc1a;
}

input {
  width: 60%;
  padding: 5px;
}

button {
  padding: 5px;
}

.searchResults {
  margin-top: 20px;
}

.searchContainer {
  text-align: center;
  margin: 20px auto; 
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  max-width: 400px; 
  background-color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
select,
button {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

button {
  background-color: #0d0e0e;
  color: rgb(229, 216, 216);
  cursor: pointer;
}

button:hover {
  background-color: #303133;
}
